In [56]:
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
from pandas import datetime
from pandas import read_csv

In [ ]:
NYC = read_csv('NYC_2000s.csv',header=0)

In [52]:
NYC.head()
NYC.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'DAPR',
       'MDPR', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13',
       'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22'],
      dtype='object')

In [53]:
nyc_df=NYC.drop(['DAPR','MDPR','WT01', 'WT02','WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13','WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22'], axis=1)

In [55]:
nyc_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN
0,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,2000-01-01,0.0,0.0,0.0,5.6,10.0,1.1
1,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,2000-01-02,0.0,0.0,0.0,11.1,15.6,6.1
2,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,2000-01-03,0.0,0.0,0.0,14.4,17.8,10.6
3,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,2000-01-04,17.8,0.0,0.0,11.7,15.6,7.8
4,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,2000-01-05,0.0,0.0,0.0,3.3,8.3,-1.7
...,...,...,...,...,...,...,...,...,...,...,...,...
7876,US1NYNY0074,"NEW YORK 8.8 N, NY US",40.79693,-73.93296,6.1,2020-07-07,4.1,NaN,NaN,NaN,NaN,NaN
7877,US1NYNY0074,"NEW YORK 8.8 N, NY US",40.79693,-73.93296,6.1,2020-07-08,0.0,NaN,NaN,NaN,NaN,NaN
7878,US1NYNY0074,"NEW YORK 8.8 N, NY US",40.79693,-73.93296,6.1,2020-07-09,2.8,NaN,NaN,NaN,NaN,NaN
7879,US1NYNY0074,"NEW YORK 8.8 N, NY US",40.79693,-73.93296,6.1,2020-07-10,0.0,NaN,NaN,NaN,NaN,NaN
7880,US1NYNY0074,"NEW YORK 8.8 N, NY US",40.79693,-73.93296,6.1,2020-07-11,79.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
x_axis = nyc_df.DATE

In [ ]:
y_axis = nyc_df.TMAX

In [ ]:
dateplot= plt.plot(nyc_df.DATE, nyc_df.TMAX)